
.site-footer {
    background: var(--text-primary);
    color: rgb(50, 7, 62);

    margin-top: 5rem;
}

.footer-container {
    width: min(1200px, 90%);
    margin: auto;

    padding: 4rem 0;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
}

.footer-brand .logo {
    color: rgb(77, 13, 70);
}

.footer-brand p {
    color: rgba(37, 7, 75, 0.505);

    margin-top: 1rem;
}

.footer-links {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 2rem;
}

.footer-links h3 {
    color: rgb(43, 13, 74);

    margin-bottom: 1rem;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.footer-links a {
    color: rgba(7, 77, 78, 0.8);

    transition: color .3s ease;
}

.footer-links a:hover {
    color: rgb(27, 98, 192);
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,.1);

    text-align: center;

    padding: 1.5rem 0;
}

.footer-bottom p {
    color: rgba(68, 14, 14, 0.7);
}

@media (max-width:768px){

    .footer-container{

        grid-template-columns:1fr;

        gap:3rem;

    }

    .footer-links{

        grid-template-columns:1fr 1fr;

    }

}