<section class="hero">

    <div class="container">

        <div class="hero-content">

            <div class="hero-text">

                <span class="hero-badge">

                    <i data-lucide="map-pinned"></i>

                    Smart Parking Solution

                </span>

                <h1>

                    Find & Reserve Parking Spaces in Seconds

                </h1>

                <p>

                    Reserve parking spaces instantly,
                    reduce traffic congestion,
                    and enjoy a seamless parking experience.

                </p>

                <div class="hero-buttons">

                    <a href="#search"
                       class="btn btn-primary">
                       <i data-lucide="search"></i>
                        Find Parking

                    </a>

                    <a href="#featured"
                       class="btn btn-outline">

                        Learn More

                    </a>

                </div>

            </div>

            <div class="hero-image">

                <img
                    src="../assets/images/hero-parking.png"
                    alt="Smart Parking Icon">

            </div>

        </div>

    </div>

</section>